@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input {
  background-color: transparent;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.btn:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem whitesmoke;
}

.bg-custom-clr1 {
  background-color: #a6a6a6 !important;
}
.bg-custom-clr2 {
  background-color: #008080 !important;
}
.bg-custom-clr3 {
  background-color: #1b1c1b !important;
}
.bg-custom-clr4 {
  background-color: #444444 !important;
}
.bg-custom-clr5 {
  background-color: #ebebeb !important;
}

.text-custom-clr1 {
  color: aliceblue !important;
}
.text-custom-clr2 {
  color: #0e46a3 !important;
}
.text-custom-clr3 {
  color: #a6a6a6 !important;
}
.text-custom-clr4 {
  color: black !important;
}

/* Navbar */
.navbar-nav a:hover {
  text-shadow: 0.4px 0.4px #e1f7f5;
  font-size: 1rem;
}

.active {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Carousal */
#carouselAutoplaying {
  height: 20rem;
}

div.carousal-inner {
  height: 100%;
}

div.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(85%);
}

/* Properties */
div.properties {
  padding-top: 2rem;
}

div.propertyouter {
  width: 75%;
}

div.propertyinner {
  height: 19rem;
  margin: 1.5rem 0;
}

div.propertyItem {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

div.img {
  width: 40%;
}

div.img img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.contentheading {
  font-weight: 600;
}

div.details {
  border-radius: 0 1rem 1rem 0;
  width: 60%;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 2rem;
}

/* Property Details */
.nav-link:focus-visible {
  box-shadow: none;
}

div.modelBox {
  padding: 1rem 0 0 0;
  height: 100%;
}

div.modelboxInner {
  height: 100%;
}

div.images {
  height: 35rem;
  width: 90%;
}

div.imagesInner {
  height: 50%;
}

div.propertyImg {
  width: 100%;
  height: 100%;
}

div.propertyImg img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  border-radius: 1rem;
  margin: 0.5rem;
}

div.propertyDetailsOuter {
  width: 90%;
}

div.propertyDetailsInner {
  margin: 2rem 2rem 1rem;
}

div.details1 {
  width: 30%;
  border-right: 2px solid white;
}

/* login */
div.loginouter {
  background: linear-gradient(to bottom right, #616161, black);
  height: 100vh;
  z-index: -2;
  align-items: center;
}

div.loginbox {
  background-color: rgba(0, 0, 0, 26%);
  box-shadow: 5px 5px 100px rgba(255, 255, 255, 29%);
  border-radius: 2rem;
  height: 25rem;
  width: 25rem;
  padding: 2.5rem 1.5rem;
}

div.login h3 {
  text-align: center;
}

.loginbox input:focus-visible {
  box-shadow: none;
  background: transparent;
}

.loginbox input {
  border: none;
  border-radius: 0;
  outline: none;
}

div.login {
  width: 100%;
}

#exampleInputEmail1 {
  border-bottom: 1px solid white;
}

.loginform {
  padding-top: 2rem;
}

div.pswd {
  border-bottom: 1px solid white;
}

input.pswd {
  width: 92%;
}

i {
  font-size: 1.3rem;
}

.formbtn {
  width: 100%;
  margin: 1rem 0;
}

.transperent {
  background: transparent;
}

/* Sign up  */
div.signupouter {
  background: linear-gradient(to bottom right, #616161, black);
  height: 100vh;
  align-items: center;
}

div.signupbox {
  background-color: rgba(0, 0, 0, 26%);
  box-shadow: 5px 5px 100px rgba(255, 255, 255, 29%);

  border-radius: 2rem;
  height: fit-content;
  width: 25rem;
  padding: 2.5rem 1.5rem;
}

.signupbox input:focus-visible {
  box-shadow: none;
  background: transparent;
}

div.signup h3 {
  text-align: center;
}

.signupbox input:focus-visible {
  box-shadow: none;
}

.signupbox input {
  border: none;
  border-radius: 0;
  outline: none;
}

#name,
#contactNumber {
  border-bottom: 1px solid white;
}

/* Smartphone */
@media screen and (max-width: 700px) {
  /* Navbar */
  .siteName {
    position: absolute;
    left: 11rem;
    top: 0.55rem;
  }

  .loginLink {
    position: absolute;
    left: 20rem;
    top: 0.6rem;
  }

  /* Carousal */
  #carouselAutoplaying {
    height: 15rem;
  }

  /* Property */
  div.propertyinner {
    height: fit-content;
    margin: 1.5rem 0;
  }

  div.propertyItem {
    flex-direction: column;
  }

  div.img {
    width: 100%;
  }

  div.img img {
    height: 9rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  div.details {
    width: 100%;
    font-size: 1rem;
    padding: 2rem;
  }

  /* Property Details */
  div.propertyDetailsOuter {
    flex-direction: column-reverse;
    margin: 0.5rem;
  }

  div.propertyDetailsInner {
    margin: 0.5rem;
  }

  div.details1 {
    width: 100%;
    border-right: none;
  }

  div.images {
    flex-direction: column;
    height: 54rem;
  }

  div.imagesInner {
    flex-direction: column;
  }

  div.propertyImg {
    height: 50%;
  }

  /* Login */
  div.loginouter {
    align-items: start;
    padding-top: 2.5rem;
  }
}
